@import 'variables';
@import 'musicPlayer';
.test {
    font-size: 1rem;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
}
body {
    background-image: $main-background-image;
    background-repeat: no-repeat;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: $main-color;
}
.grid-item {
    margin: 40px;
}
.card-body {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-upper {
        flex: 1;
    }
    .card-button {
        flex-shrink: 0;
    }
}

.navbar-dark {
    background-image: linear-gradient(
        90.1deg,
        rgba(132, 94, 194, 1) 2.3%,
        rgba(255, 111, 145, 1) 98.4%
    );
}
.form-group {
    input {
        width: 50%;
    }
}

.card-image {
    overflow: hidden;
    &-wrapper {
        position: relative;
        padding-bottom: 66.66%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
}
