@import 'variables';
@import 'musicPlayer';
body {
    background-image: $main-background-image;
    background-repeat: no-repeat;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: $main-color;
}
.card-body {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-upper {
        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    .card-button {
        margin-top: auto;
    }
}

.navbar-dark {
    background-image: linear-gradient(
        90.1deg,
        rgba(132, 94, 194, 1) 2.3%,
        rgba(255, 111, 145, 1) 98.4%
    );
}
.form-group {
    input,
    textarea {
        width: 50%;
    }
}

.card-image {
    overflow: hidden;
    &-wrapper {
        position: relative;
        padding-bottom: 66.66%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }
}

.page-logo {
    height: 36px;
    border: 10px 10px 10px white;
    > img {
        transform: scale(220%);
        height: 100%;
        object-fit: cover;
    }
}

.header-container {
    margin: 0 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .dropdown {
        .dropdown-menu {
            transform: translateY(-8px);
            width: 100%;
        }
    }
    .nav-link {
        img {
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            transform: scale(120%);
            margin-right: 4px;
        }
    }
}

.button-list {
    display: flex;
    flex-wrap: wrap;
}
