@import 'variables';
@import 'musicPlayer';
.test {
    font-size: 1rem;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
}
body {
    background-image: $main-background-image;
    background-repeat: no-repeat;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: $main-color;
}
