.everything {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.music-player {
  margin-top: 40px;
  position: relative;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  width: 360px;
  overflow: hidden;
  background-image: linear-gradient(to right, #15162d, #1d1f3d);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center; }

.player {
  top: 0;
  width: 360px;
  z-index: 1000;
  background-image: linear-gradient(to right, #15162d, #1d1f3d);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #222549; }

@media screen and (max-width: 767px) {
  .music-player {
    width: 100%; }
  .player {
    width: 100%; } }

.player__header {
  text-align: center;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.player__header span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, #f01e5c 0%, #f4314a 30.5%, #f94b25 56.1%, #fa5813 75.6%, #fd6602 100.2%);
  padding-bottom: 2px;
  font-size: 12px;
  font-weight: 600; }

.player__header h3 {
  line-height: 50px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  margin-top: 4px;
  margin-bottom: -4px;
  font-weight: 600;
  width: 100%;
  word-break: break-all;
  font-size: 30px;
  padding-bottom: 4px; }

.player__header p {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  background-image: linear-gradient(64.5deg, #f574b9 14.7%, #5961df 88.7%);
  font-style: italic;
  font-weight: 500; }

.player__disc {
  background-image: url(../img/stay.jpg);
  height: 320px;
  object-fit: cover;
  border-radius: 100rem;
  width: 320px;
  margin: 10px 0 20px 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.player__disc img {
  width: 100%;
  height: 100%;
  border-radius: 100rem; }

.player__control {
  display: flex;
  flex-direction: column; }

.player__buttons {
  margin-bottom: 20px;
  gap: 40px;
  display: flex;
  font-size: 20px; }

.player__buttons ion-icon {
  opacity: 0.6; }

.button__play-pause {
  font-size: 28px;
  transform: translateY(-10px);
  width: 44px;
  position: relative;
  height: 44px;
  border-radius: 100rem;
  background: linear-gradient(to right bottom, #6c25bd, #bc49e5); }

.play-button,
.pause-button {
  position: absolute;
  left: 10px;
  top: 8px;
  transition: opacity 0.2s ease-in-out; }

.button__play-pause ion-icon {
  opacity: 1; }

.button__play-pause .pause-button {
  opacity: 0;
  left: 8px;
  top: 8px; }

.active-button ion-icon {
  opacity: 1;
  color: #861dfd; }

.progress-area {
  margin-bottom: 4px;
  width: 100%;
  height: 6px;
  border-radius: 12px;
  background-color: #222450; }

.progress-area .progress-bar {
  border-radius: inherit;
  width: 0%;
  height: inherit;
  position: relative;
  background-image: linear-gradient(to right, #481d8b, #cf98de); }

.progress-area .progress-bar::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  width: 12px;
  top: 50%;
  opacity: 0;
  right: -5px;
  transform: translateY(-50%);
  height: 12px;
  border-radius: 100rem;
  transition: opacity 0.2s ease; }

.progress-area:hover .progress-bar::before {
  opacity: 1; }

.song-duration {
  font-weight: 300;
  opacity: 0.6;
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between; }

.playlist {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.song {
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  height: 68px;
  margin-bottom: 20px;
  background: #43c6ac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43c6ac);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 600%;
  background-position: left;
  transition: background-position 0.4s ease-in-out;
  display: flex;
  justify-content: space-between; }

.song.active {
  background-position: right; }

.song:not(.active):active {
  opacity: 0.8; }

.song-info {
  display: flex; }

.song-info img {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  flex-shrink: 0;
  transform: translateY(-4px);
  object-fit: cover; }

.song-info__text {
  flex: 1;
  margin-left: 8px; }

.song-info__text h3 {
  color: #cef7ec;
  transition: color 0.4s ease-in-out;
  font-size: 16px;
  font-weight: 500; }

.song.active h3 {
  color: #22163a; }

.song-info__text span {
  font-size: 14px;
  font-weight: 500;
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #f574b9 14.7%, #3c11b4 88.7%);
  background-size: 600%;
  background-position: left;
  transition: background-position 0.4s ease-in-out; }

.song.active .song-info__text span {
  background-position: right; }

.song-setting {
  display: flex;
  align-items: center;
  font-size: 20px; }

.song-setting ion-icon {
  color: white;
  transition: color 0.4s ease-in-out; }

.song.active .song-setting ion-icon {
  color: #22163a; }

.button__play-pause.playing .play-button {
  opacity: 0; }

.button__play-pause.playing .pause-button {
  opacity: 1; }

.test {
  font-size: 1rem;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100rem; }

body {
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: white; }
